body {
  font-family: "Open Sans", sans-serif;
  padding-top: 80px;
  padding-bottom: 60px;
}

header {
  padding-bottom: 10px;
}

.card {
  margin: 1px;
}

.ksd-grid {
  /* padding: 10px; */
  margin-top: 10px;
  margin-bottom: 10px;
}
