/* White Theme */
$main1-color: #092e71
$main2-color: #ffffff
$sub1-color: #2e559c
$sub1-color: #e6e8ed
$point1-color: #7bb42e
$point2-color: #abafb3
$point3-color: #52b4c3
$point4-color: #eeaa53
$point5-color: #e38691

/* Black Theme */
$main1-color: #2b3546
$main2-color: #3b414b
$sub1-color: #0e6888
$sub1-color: #ffffff
$point1-color: #0188ac
$point2-color: #abafb3
$point3-color: #52b4c3
$point4-color: #eeaa53
$point5-color: #e38691

 /* Natural Theme */
$main1-color: #036157
$main2-color: #ffffff
$sub1-color: #209c8f
$sub1-color: #e6e8ed
$point1-color: #7bb42e
$point2-color: #abafb3
$point3-color: #52b4c3
$point4-color: #eeaa53
$point5-color: #e38691
